/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styling for larger screens */
.app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.about-me {
  text-align: center;
  margin-bottom: 30px;
}

.profile-picture {
  height: 300px;
  /* border-radius: 50%; */
}

.repo-card {
  display: flex;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  padding: 10px;
}

.repo-content {
  display: flex;
  align-items: center;
}

.repo-image img {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

.repo-details {
  flex: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  color: white;
  padding: 10px;
}

.navbar button {
  padding: 8px 16px;
  background-color: #fff;
  color: #333;
  border: none;
  cursor: pointer;
}

/* Styling for smaller screens */
@media screen and (max-width: 600px) {
  .app {
    padding: 10px;
  }

  .profile-picture {
    height: 120px;
  }

  .repo-card {
    padding: 10px;
  }
}