/* Reset and General styles */
body {
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('../public/images/background/wallpaperflare.com_wallpaper.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-size: 3.5em;
}

/* Container for the application */
.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 20px;
}

/* About Me section */
.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  border: 1px solid black;
  box-shadow: 5px 5px black;
  background-color: rgb(238, 222, 205);
}

.about-content {
  flex: 1;
}

.profile-picture-container {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid black;
  margin: 20px;
}

.profile-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Repository Card */
.repo-card {
  display: flex;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid black;
  box-shadow: 5px 5px black;
  background-color: #ffffff;
}

.repo-content {
  display: flex;
  align-items: center;
}

.repo-image img {
  width: 200px;
  height: auto;
  margin-right: 20px;
  border: 1px solid black
}

.repo-details h3 a {
  text-decoration: none;
  color: black;
}

/* Navbar */
.navbar {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: space-between;
  background-color: #333;
  color: white;
  padding: 10px;
}

.navbar button {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  padding: 8px 16px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navbar button:hover {
  background-color: #555;
}

/* Contact Form */
.contact-form {
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
  border: 1px solid black;
  box-shadow: 5px 5px black;
  background-color: #ffffff;
}

.contact-form h2 {
  margin-top: 0;
  text-align: center;
}

.contact-form label {
  display: block;
  margin-bottom: 8px;
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
}

.contact-form textarea {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  height: 200px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  height: 40px;
}

.resume-button,
.send-button {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  padding: 8px 16px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Styling for social icons */
.social-links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-links a {
  margin: 0 10px;
}

.social-icon {
  height: 30px;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
  .app {
    padding: 10px;
  }

  .about-me {
    flex-direction: column;
    align-items: center;
  }

  .profile-picture-container {
    width: 200px;
    height: 200px;
  }

  .about-content {
    max-width: 100%;
    text-align: center;
  }

  .about-content h1 {
    margin-top: 0;
  }

  .about-text p {
    text-align: left;
  }

  .repo-card {
    padding: 8px;
  }

  .repo-content,
  .repo-details {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .repo-image img {
    width: 100%;
    margin: 0 auto;
  }

  .repo-details {
    text-align: left;
    margin: 0;
    padding: 0 10px;
  }

  .repo-details h3,
  .repo-details p {
    margin: 2px;
  }

  .button-group {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .button-group a {
    width: 100%;
    display: block;
  }

  .resume-button,
  .send-button {
    width: 100%;
    margin-bottom: 10px;
  }
}

/* * {
  border: black 1px solid;
} */